In [4]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('ads_data.csv',index_col=0)

In [8]:
df

,Property type,Size,Rooms,Floor,Furnished,Shareable,Pets allowed,Elevator,Senior friendly,Students only,...,Rental period,Available from,Monthly net rent,Utilities,Deposit,Prepaid rent,Move-in price,Creation Date,Listing-id,Adress
0,Apartment,100 m²,4.0,Ground floor,No,Yes,No,No,No,No,...,1-11 months,1 September 2024,22.000 kr.,0 kr.,22.000 kr.,22.000 kr.,66.000 kr.,21/03/2024,5427722,"Løgstørgade, 2100 København, København Ø - Gr..."
1,Apartment,154 m²,5.0,1st,No,No,No,No,No,No,...,Unlimited,1 May 2024,23.000 kr.,1.400 kr.,69.000 kr.,69.000 kr.,162.400 kr.,21/03/2024,5427716,"Virginiavej, 2000 København, Frederiksberg - ..."
2,Apartment,54 m²,2.0,Ground floor,No,No,No,No,No,No,...,Unlimited,As soon as possible,8.448 kr.,410 kr.,25.344 kr.,25.344 kr.,59.546 kr.,21/03/2024,5427711,"Ellensvej, 2920 København, Charlottenlund - G..."
3,Apartment,71 m²,3.0,5th,No,Yes,Yes,Yes,No,No,...,Unlimited,As soon as possible,14.300 kr.,700 kr.,42.900 kr.,14.300 kr.,72.200 kr.,21/03/2024,5427710,"Martha Christensens Vej, 2300 København, Køben..."
4,Apartment,63 m²,2.0,4th,No,Yes,Yes,Yes,No,No,...,Unlimited,As soon as possible,12.700 kr.,650 kr.,38.100 kr.,12.700 kr.,64.150 kr.,21/03/2024,5427709,"Martha Christensens Vej, 2300 København, Køben..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2736,Apartment,55 m²,2.0,Ground floor,Yes,No,No,No,Yes,No,...,1-11 months,15 July 2024,14.000 kr.,0 kr.,2.000 kr.,0 kr.,16.000 kr.,27/12/2021,5218308,"Hedemannsgade, 2100 København, København Ø - ..."
2737,Room,15 m²,1.0,3rd,Yes,Yes,Yes,No,No,No,...,1-11 months,14 April 2024,8.000 kr.,0 kr.,10.000 kr.,0 kr.,18.000 kr.,17/07/2021,5091127,"Marstalsgade, 2100 København, København Ø - 3..."
2738,Apartment,125 m²,3.0,4th,Yes,Yes,No,No,No,No,...,1-11 months,As soon as possible,30.000 kr.,0 kr.,10.000 kr.,0 kr.,40.000 kr.,07/07/2021,5204260,"Arkonagade, 1726 København, København V - 4th..."
2739,Room,22 m²,1.0,4th,Yes,No,No,Not specified,Not specified,Not specified,...,24+ months,As soon as possible,3.800 kr.,0 kr.,7.600 kr.,3.800 kr.,15.200 kr.,29/10/2020,5024726,"Jagtvej, 2100 København, København Ø - 4th floor"
2740,Room,10 m²,1.0,4th,Yes,No,No,Yes,Yes,No,...,1-11 months,As soon as possible,3.999 kr.,0 kr.,0 kr.,0 kr.,3.999 kr.,31/08/2020,4927519,"Gyngemose Parkvej, 2860 København, Søborg - 4..."

In [10]:
# Lets get some info about the dataset 
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2741 entries, 0 to 2740
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Property type              2741 non-null   object
 1   Size                       2741 non-null   object
 2   Rooms                      2741 non-null   float64
 3   Floor                      2741 non-null   object
 4   Furnished                  2741 non-null   object
 5   Shareable                  2741 non-null   object
 6   Pets allowed               2741 non-null   object
 7   Elevator                   2741 non-null   object
 8   Senior friendly            2741 non-null   object
 9   Students only              2741 non-null   object
 10  Balcony                    2741 non-null   object
 11  Parking                    2741 non-null   object
 12  Dishwasher                 2741 non-null   object
 13  Washing machine            2741 non-null   object
 14  Electric charging station  2741 non-null   object
 15  Dryer                      2741 non-null   object
 16  Energy rating              1451 non-null   object
 17  Rental period              2741 non-null   object
 18  Available from             2741 non-null   object
 19  Monthly net rent           2741 non-null   object
 20  Utilities                  2662 non-null   object
 21  Deposit                    2741 non-null   object
 22  Prepaid rent               2643 non-null   object
 23  Move-in price              2741 non-null   object
 24  Creation Date              2741 non-null   object
 25  Listing-id                 2741 non-null   int64
 26  Adress                     2741 non-null   object
dtypes: float64(1), int64(1), object(25)
memory usage: 599.6+ KB

In [14]:
# Rename Size column to Size (m2), remove m2 from values and cast column type as integer
df = df.rename(columns = {'Size':'Size(m2)'})

In [19]:
# remove m2 from values and cast column type as integer
df['Size(m2)'] = df['Size(m2)'].apply(lambda x: x.replace('m²','').strip())

In [25]:
df['Size(m2)'] = df['Size(m2)'].apply(lambda x: x.split('.')[0])

In [26]:
df['Size(m2)'] = df['Size(m2)'].astype(int)

In [28]:
# Change type of column rooms from float to integer 
df['Rooms'] = df['Rooms'].astype(int)

In [40]:
# check Monthly net rent
df['Monthly net rent'] = df['Monthly net rent'].apply(lambda x:x.replace('.','').replace('kr','').replace(',','').strip())

In [43]:
df['Monthly net rent'] = df['Monthly net rent'].astype(int)

In [47]:
# Check deposit
df['Deposit'] = df['Deposit'].apply(lambda x:x.translate(str.maketrans('', '', "kr.,")))

In [49]:
df['Deposit'] = df['Deposit'].astype(int)

In [63]:
# Check prepaid rent
df['Prepaid rent'] = df['Prepaid rent'].apply(lambda x:str(x).replace('.','').replace('kr','').replace(',','').strip())
df.fillna({22:0}, inplace=True)
df['Prepaid rent'] = df['Prepaid rent'].apply(lambda x: x.replace('nan','0').strip())
df['Prepaid rent'] = df['Prepaid rent'].astype(int)

In [65]:
# Check move in price