In [1]:
import pandas as pd
import requests
from requests.structures import CaseInsensitiveDict
from tqdm import tqdm
import json

In [2]:
df = pd.read_excel('clean_data.xlsx')

In [3]:
adresses=list(df['Adress'].apply(lambda x: x.strip()))

In [4]:
adresses

['Absalonsgade 46 3.tv',
 'Pakhusvej',
 'Amaliegade',
 'Langelinie Allé',
 'Lyngby Hovedgade',
 'Rødager Alle',
 'Nørrebrogade',
 'Nørregade',
 'Gyldendalsvej',
 'Lyngby Hovedgade',
 'Degnemose Allé',
 'Dortheavej',
 'Strandmarksvej',
 'Lindgreens Allé',
 'Åsvej',
 'Åsvej',
 'Gyngemose Parkvej',
 'Islands Brygge',
 'Skelmosevej']

# Lets get all coordinates

In [5]:
text_atribute = []
for i in range(len(adresses)):
    text_atribute.append(adresses[i].replace(' ','%20'))

In [6]:
text_atribute

['Absalonsgade%2046%203.tv',
 'Pakhusvej',
 'Amaliegade',
 'Langelinie%20Allé',
 'Lyngby%20Hovedgade',
 'Rødager%20Alle',
 'Nørrebrogade',
 'Nørregade',
 'Gyldendalsvej',
 'Lyngby%20Hovedgade',
 'Degnemose%20Allé',
 'Dortheavej',
 'Strandmarksvej',
 'Lindgreens%20Allé',
 'Åsvej',
 'Åsvej',
 'Gyngemose%20Parkvej',
 'Islands%20Brygge',
 'Skelmosevej']

In [7]:
coord_list=[]
def get_coord(text):
    url = "https://api.geoapify.com/v1/geocode/search?text={}%2CCopenhagen&apiKey=a1fbb32f9bb64f348a1e0b7729630deb".format(text)
    headers = CaseInsensitiveDict()
    headers["Accept"] = "application/json"
    resp = requests.get(url, headers=headers)
    x = resp.json()['features'][0]['properties']['lon']
    y = resp.json()['features'][0]['properties']['lat']
    coord_list.append([x,y])
    return coord_list

In [8]:
for text in tqdm(text_atribute):
    data = get_coord(text)

100%|██████████████████████████████████████████████████████████████████████████████████| 19/19 [00:13<00:00,  1.37it/s]

In [10]:
long_list = []
lat_list = []
for d in range(len(data)):
    long_list.append(data[d][0])
    lat_list.append(data[d][1])

In [11]:
coord_data = pd.DataFrame({'lat':lat_list,'long':long_list})

In [12]:
coord_data

          lat       long
0   55.668623  12.555775
1   55.697424  12.594138
2   55.685642  12.594562
3   55.695658  12.599706
4   55.763451  12.511833
5   55.675542  12.460681
6   55.691535  12.553023
7   55.682747  12.570705
8   55.768368  12.508261
9   55.763451  12.511833
10  55.703458  12.506206
11  55.709386  12.521327
12  55.629240  12.486465
13  55.667513  12.622348
14  55.704438  12.502119
15  55.704438  12.502119
16  55.726600  12.480733
17  55.665600  12.575151
18  55.668819  12.512536

In [13]:
# Export to excel 
coord_data.to_excel('coord_data.xlsx')