In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import re

In [2]:
df = pd.read_excel(r"C:\Users\admin\Copenhagen_Home_Rental_Analysis\ads_data.xlsx")

In [3]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [4]:
df

,title,price,description,features
0,"3500 3 vær. lejlighed, 69 m2, Bymidten 56 56 2",11 kr.,"3500 3 vær. lejlighed, 69 m2, Bymi...","{'<dt>Boligtype</dt>': '<dd>lejlighed</dd>', '..."
1,"2860 3 vær. lejlighed, 72 m2, 10000 i depositum",10.000 kr.,"2860 3 vær. lejlighed, 72 m2, 1000...","{'<dt>Boligtype</dt>': '<dd>lejlighed</dd>', '..."
2,"1658 4 vær. lejlighed, 81 m2, Absalonsgade 46 ...",18.000 kr.,"1658 4 vær. lejlighed, 81 m2, Absa...","{'<dt>Boligtype</dt>': '<dd>lejlighed</dd>', '..."
3,"2300 1 vær. lejlighed, 18 m2, Prøvestens Allé ...",1.800 kr.,"2300 1 vær. lejlighed, 18 m2, Prøv...","{'<dt>Boligtype</dt>': '<dd>lejlighed</dd>', '..."
4,3 værelses lejlighed i København Ø 2100 på 112...,18.950 kr.,"2100 vær. 3 Lejlighed, m2 112, Pak...","{'<dt>Boligtype</dt>': '<dd>lejlighed</dd>', '..."
...,...,...,...,...
2195,Rækkehus i Solrød Strand 2680 på 87 kvm,10.950 kr.,"2680 vær. 3 Lejlighed, m2 87, Åsve...","{'<dt>Boligtype</dt>': '<dd>lejlighed</dd>', '..."
2196,Rækkehus i Solrød Strand 2680 på 87 kvm,10.950 kr.,"2680 vær. 3 Lejlighed, m2 87, Åsve...","{'<dt>Boligtype</dt>': '<dd>lejlighed</dd>', '..."
2197,4 vær. eller større i Søborg 2860 på 98 kvm,15.100 kr.,"2860 vær. 4 Lejlighed, m2 98, Gyng...","{'<dt>Boligtype</dt>': '<dd>lejlighed</dd>', '..."
2198,2 værelses lejlighed i København S 2300 på 80 kvm,16.900 kr.,"2300 vær. 2 Lejlighed, m2 80, Isla...","{'<dt>Boligtype</dt>': '<dd>lejlighed</dd>', '..."
2199,3 værelses lejlighed i Valby 2500 på 91 kvm,17.700 kr.,"2500 vær. 3 Lejlighed, m2 91, Skel...","{'<dt>Boligtype</dt>': '<dd>lejlighed</dd>', '..."

In [5]:
# Split at <dt> and convert string to a list 
df["features"] = df["features"].apply(lambda x: x.split("<dt>"))

In [6]:
max_len = 0
index = 0
for i in range(len(df["features"])):
    if len(df["features"][i])>max_len:
        max_len = len(df["features"][i])
        index = i

In [7]:
max_len, index

(12, 2)

In [8]:
# I will use apply to each element of my serie. I will create a function that recieves a list. Iterates through each
# element of the list. Search for special keywords and store the result in a dictionary.

In [13]:
features_dict = {"Boligtype":[], "Adress":[], "Postnr":[], "Antal værelser":[], "Boligkvm":[], "Forudbetalt leje":[],
                "Depositum":[], "Fremleje":[], "A/C forbrug":[], "Overtagelsesdato":[], "Fakta":[]}
"""
lst : input is a list 

This function receives a list as an input. Iterates through each element of the list,
search for a specific keyword and store the result in a dictionary. If the special keyword in not
present in the list then it is filled with none.

return a dictionary with key the columns of my initial dataframe and values lists 
"""
def split_features(lst):
    initial_len_bolig = len(features_dict["Boligtype"])
    initial_len_ad = len(features_dict["Adress"])
    initial_len_post = len(features_dict["Postnr"])
    initial_len_antal = len(features_dict["Antal værelser"])
    initial_len_kvm = len(features_dict["Boligkvm"])
    initial_len_forud = len(features_dict["Forudbetalt leje"])
    initial_len_depo = len(features_dict["Depositum"])
    initial_len_frem = len(features_dict["Fremleje"])
    initial_len_ac = len(features_dict["A/C forbrug"])
    initial_len_over = len(features_dict["Overtagelsesdato"])
    initial_len_fakta = len(features_dict["Fakta"])
    for i in range(len(lst)):
        if "Boligtype" in lst[i]:
            features_dict["Boligtype"].append(lst[i])
        if "Adress" in lst[i]:
            features_dict["Adress"].append(lst[i])
        if "Postnr" in lst[i]:
            features_dict["Postnr"].append(lst[i])
        if "Antal værelser" in lst[i]:
            features_dict["Antal værelser"].append(lst[i])
        if "Boligkvm" in lst[i]:
            features_dict["Boligkvm"].append(lst[i])
        if "Forudbetalt leje" in lst[i]:
            features_dict["Forudbetalt leje"].append(lst[i])
        if "Depositum" in lst[i]:
            features_dict["Depositum"].append(lst[i])
        if "Fremleje" in lst[i]:
            features_dict["Fremleje"].append(lst[i])
        if "A/C forbrug" in lst[i]:
            features_dict["A/C forbrug"].append(lst[i])
        if "Overtagelsesdato" in lst[i]:
            features_dict["Overtagelsesdato"].append(lst[i])
        if "Fakta" in lst[i]:
            features_dict["Fakta"].append(lst[i])
    if len(features_dict["Boligtype"]) == initial_len_bolig:
        features_dict["Boligtype"].append(None)
    if len(features_dict["Adress"]) == initial_len_ad:
        features_dict["Adress"].append(None)
    if len(features_dict["Postnr"]) == initial_len_post:
        features_dict["Postnr"].append(None)
    if len(features_dict["Antal værelser"]) == initial_len_antal:
        features_dict["Antal værelser"].append(None)
    if len(features_dict["Boligkvm"]) == initial_len_kvm:
        features_dict["Boligkvm"].append(None)
    if len(features_dict["Forudbetalt leje"]) == initial_len_forud:
        features_dict["Forudbetalt leje"].append(None)
    if len(features_dict["Depositum"]) == initial_len_depo:
        features_dict["Depositum"].append(None)
    if len(features_dict["Fremleje"]) == initial_len_frem:
        features_dict["Fremleje"].append(None)
    if len(features_dict["A/C forbrug"]) == initial_len_ac:
        features_dict["A/C forbrug"].append(None)
    if len(features_dict["Overtagelsesdato"]) == initial_len_over:
        features_dict["Overtagelsesdato"].append(None)
    if len(features_dict["Fakta"]) == initial_len_fakta:
        features_dict["Fakta"].append(None)
    return features_dict

In [14]:
# apply the function for each element of features column
for i in range(len(df['features'])):
    data=split_features(df["features"][i])

In [15]:
# By using the keys of the data dictionary, create new columns in the initial dataframe
for k in data.keys():
    df[k] = data[k]

In [16]:
df

,title,price,description,features,Boligtype,Adress,Postnr,Antal værelser,Boligkvm,Forudbetalt leje,Depositum,Fremleje,A/C forbrug,Overtagelsesdato,Fakta
0,"3500 3 vær. lejlighed, 69 m2, Bymidten 56 56 2",11 kr.,"3500 3 vær. lejlighed, 69 m2, Bymi...","[{', Boligtype</dt>': '<dd>lejlighed</dd>', ',...","Boligtype</dt>': '<dd>lejlighed</dd>', '","Adresse</dt>': '<dd>Bymidten 56 56 2</dd>', '","Postnr.</dt>': '<dd>3500</dd>', '","Antal værelser</dt>': '<dd>3</dd>', '","Boligkvm.</dt>': '<dd>69</dd>', '","Forudbetalt leje</dt>': '<dd>1</dd>', '","Depositum</dt>': '<dd>33000</dd>', '",None,None,"Overtagelsesdato</dt>': '<dd>1/4-2024</dd>', '","Fakta</dt>': '<dd>vaskemaskine, opvaskemaskine..."
1,"2860 3 vær. lejlighed, 72 m2, 10000 i depositum",10.000 kr.,"2860 3 vær. lejlighed, 72 m2, 1000...","[{', Boligtype</dt>': '<dd>lejlighed</dd>', ',...","Boligtype</dt>': '<dd>lejlighed</dd>', '",None,"Postnr.</dt>': '<dd>2860</dd>', '","Antal værelser</dt>': '<dd>3</dd>', '","Boligkvm.</dt>': '<dd>72</dd>', '",None,Depositum</dt>': '<dd>10000</dd>'},None,None,None,None
2,"1658 4 vær. lejlighed, 81 m2, Absalonsgade 46 ...",18.000 kr.,"1658 4 vær. lejlighed, 81 m2, Absa...","[{', Boligtype</dt>': '<dd>lejlighed</dd>', ',...","Boligtype</dt>': '<dd>lejlighed</dd>', '","Adresse</dt>': '<dd>Absalonsgade 46 3.tv</dd>', '","Postnr.</dt>': '<dd>1658</dd>', '","Antal værelser</dt>': '<dd>4</dd>', '","Boligkvm.</dt>': '<dd>81</dd>', '","Forudbetalt leje</dt>': '<dd>1</dd>', '","Depositum</dt>': '<dd>18000</dd>', '","Fremleje</dt>': '<dd>ja</dd>', '","A/C forbrug</dt>': '<dd>1800</dd>', '","Overtagelsesdato</dt>': '<dd>1.7.2024</dd>', '","Fakta</dt>': '<dd>altan, møbleret, vaskemaskin..."
3,"2300 1 vær. lejlighed, 18 m2, Prøvestens Allé ...",1.800 kr.,"2300 1 vær. lejlighed, 18 m2, Prøv...","[{', Boligtype</dt>': '<dd>lejlighed</dd>', ',...","Boligtype</dt>': '<dd>lejlighed</dd>', '",Adresse</dt>': '<dd>Prøvestens Allé 7 st.</dd>...,"Postnr.</dt>': '<dd>2300</dd>', '","Antal værelser</dt>': '<dd>1</dd>', '","Boligkvm.</dt>': '<dd>18</dd>', '","Forudbetalt leje</dt>': '<dd>1800</dd>', '","Depositum</dt>': '<dd>3600</dd>', '","Fremleje</dt>': '<dd>ja</dd>', '",None,Overtagelsesdato</dt>': '<dd>Omgående</dd>'},None
4,3 værelses lejlighed i København Ø 2100 på 112...,18.950 kr.,"2100 vær. 3 Lejlighed, m2 112, Pak...","[{', Boligtype</dt>': '<dd>lejlighed</dd>', ',...","Boligtype</dt>': '<dd>lejlighed</dd>', '","Adresse</dt>': '<dd>Pakhusvej</dd>', '","Postnr.</dt>': '<dd>2100</dd>', '","Antal værelser</dt>': '<dd>3</dd>', '","Boligkvm.</dt>': '<dd>112</dd>', '","Forudbetalt leje</dt>': '<dd>0</dd>', '","Depositum</dt>': '<dd>56850</dd>', '",None,A/C forbrug</dt>': '<dd>1600</dd>'},None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,Rækkehus i Solrød Strand 2680 på 87 kvm,10.950 kr.,"2680 vær. 3 Lejlighed, m2 87, Åsve...","[{', Boligtype</dt>': '<dd>lejlighed</dd>', ',...","Boligtype</dt>': '<dd>lejlighed</dd>', '","Adresse</dt>': '<dd>Åsvej</dd>', '","Postnr.</dt>': '<dd>2680</dd>', '","Antal værelser</dt>': '<dd>3</dd>', '","Boligkvm.</dt>': '<dd>87</dd>', '","Forudbetalt leje</dt>': '<dd>10950</dd>', '","Depositum</dt>': '<dd>32850</dd>', '",None,A/C forbrug</dt>': '<dd>1200</dd>'},None,None
2196,Rækkehus i Solrød Strand 2680 på 87 kvm,10.950 kr.,"2680 vær. 3 Lejlighed, m2 87, Åsve...","[{', Boligtype</dt>': '<dd>lejlighed</dd>', ',...","Boligtype</dt>': '<dd>lejlighed</dd>', '","Adresse</dt>': '<dd>Åsvej</dd>', '","Postnr.</dt>': '<dd>2680</dd>', '","Antal værelser</dt>': '<dd>3</dd>', '","Boligkvm.</dt>': '<dd>87</dd>', '","Forudbetalt leje</dt>': '<dd>10950</dd>', '","Depositum</dt>': '<dd>32850</dd>', '",None,A/C forbrug</dt>': '<dd>1200</dd>'},None,None
2197,4 vær. eller større i Søborg 2860 på 98 kvm,15.100 kr.,"2860 vær. 4 Lejlighed, m2 98, Gyng...","[{', Boligtype</dt>': '<dd>lejlighed</dd>', ',...","Boligtype</dt>': '<dd>lejlighed</dd>', '","Adresse</dt>': '<dd>Gyngemose Parkvej</dd>', '","Postnr.</dt>': '<dd>2860</dd>', '","Antal værelser</dt>': '<dd>4</dd>', '","Boligkvm.</dt>': '<dd>98</dd>', '","Forudbetalt leje</dt>': '<dd>15100</dd>', '","Depositum</dt>': '<dd>45300</dd>', '",None,A/C forbrug</dt>': '<dd>800</dd>'},None,None
2198,2 værelses lejlighed i København S 2300 på 80 kvm,16.900 kr.,"2300 vær. 2 Lejlighed, m2 80, Isla...","[{', Boligtype</dt>': '<dd>lejlighed</dd>', ',...","Boligtype</dt>': '<dd>lejlighed</dd>', '","Adresse</dt>': '<dd>Islands Brygge</dd>', '","Postnr.</dt>': '<dd>2300</dd>', '","Antal værelser</dt>': '<dd>2</dd>', '","Boligkvm.</dt>': '<dd>80</dd>', '","Forudbetalt leje</dt>': '<dd>16900</dd>', '","Depositum</dt>': '<dd>50700</dd>', '",None,A/C forbrug</dt>': '<dd>1000</dd>'},None,None
2199,3 værelses lejlighed i Valby 2500 på 91 kvm,17.700 kr.,"2500 vær. 3 Lejlighed, m2 91, Skel...","[{', Boligtype</dt>': '<dd>lejlighed</dd>', ',...","Boligtype</dt>': '<dd>lejlighed</dd>', '","Adresse</dt>': '<dd>Skelmosevej</dd>', '","Postnr.</dt>': '<dd>2500</dd>', '","Antal værelser</dt>': '<dd>3</dd>', '","Boligkvm.</dt>': '<dd>91</dd>', '","Forudbetalt leje</dt>': '<dd>53100</dd>', '","Depositum</dt>': '<dd>53100</dd>', '",None,A/C forbrug</dt>': '<dd>1000</dd>'},None,None

In [19]:
# Drop features column as we dont need it any more
df.drop("features",axis=1,inplace=True)

KeyError: "['features'] not found in axis"

In [22]:
def clean_bolig(my_str):
    if my_str == None:
        pass
    else:
        return re.sub("Boligtype|<\/?dt>|:|<\/?dd>|'|,|\s","",my_str)

In [23]:
def clean_adress(my_str):
    if my_str == None:
        pass
    else:
        return re.sub("Adresse|<\/?dt>|:|<\/?dd>|'|,","",my_str)

In [24]:
def clean_postnr(my_str):
    if my_str == None:
        pass
    else:
        return re.sub("Postnr.|<\/?dt>|:|<\/?dd>|'|,","",my_str)

In [25]:
def clean_antal(my_str):
    if my_str == None:
        pass
    else:
        return re.sub("Antal værelser|<\/?dt>|:|<\/?dd>|'|,","",my_str)

In [26]:
def clean_kvm(my_str):
    if my_str == None:
        pass
    else:
        return re.sub("Boligkvm.|<\/?dt>|:|<\/?dd>|'|,","",my_str)

In [27]:
def clean_forud(my_str):
    if my_str == None:
        pass
    else:
        return re.sub("Forudbetalt leje|<\/?dt>|:|<\/?dd>|'|,","",my_str)

In [28]:
def clean_depo(my_str):
    if my_str == None:
        pass
    else:
        return re.sub("Depositum|<\/?dt>|:|<\/?dd>|'|,|}","",my_str)

In [29]:
def clean_frem(my_str):
    if my_str == None:
        pass
    else:
        return re.sub("Fremleje|<\/?dt>|:|<\/?dd>|'|,","",my_str)

In [30]:
def clean_ac(my_str):
    if my_str == None:
        pass
    else:
        return re.sub("A\/C forbrug|<\/?dt>|:|<\/?dd>|'|,|}","",my_str)

In [31]:
def clean_over(my_str):
    if my_str == None:
        pass
    else:
        return re.sub("Overtagelsesdato|<\/?dt>|:|<\/?dd>|'|,|}","",my_str)

In [32]:
def clean_fakta(my_str):
    if my_str == None:
        pass
    else:
        return re.sub("Fakta|<\/?dt>|:|<\/?dd>|'|}","",my_str)

In [33]:
# Apply each function from above to the relevant dataframe column
df["Boligtype"]=df["Boligtype"].apply(lambda x: clean_bolig(x))
df["Adress"]=df["Adress"].apply(lambda x: clean_adress(x))
df["Postnr"]=df["Postnr"].apply(lambda x: clean_postnr(x))
df["Antal værelser"]=df["Antal værelser"].apply(lambda x: clean_antal(x))
df["Boligkvm"]=df["Boligkvm"].apply(lambda x: clean_kvm(x))
df["Forudbetalt leje"]=df["Forudbetalt leje"].apply(lambda x: clean_forud(x))
df["Depositum"]=df["Depositum"].apply(lambda x: clean_depo(x))
df["Fremleje"]=df["Fremleje"].apply(lambda x: clean_frem(x))
df["A/C forbrug"]=df["A/C forbrug"].apply(lambda x: clean_ac(x))
df["Overtagelsesdato"]=df["Overtagelsesdato"].apply(lambda x: clean_over(x))
df["Fakta"]=df["Fakta"].apply(lambda x: clean_fakta(x))

In [34]:
# Replace . and kr from price column
df['price'] = df['price'].apply(lambda x: x.replace('.','').replace('kr',''))

In [35]:
df

,title,price,description,Boligtype,Adress,Postnr,Antal værelser,Boligkvm,Forudbetalt leje,Depositum,Fremleje,A/C forbrug,Overtagelsesdato,Fakta
0,"3500 3 vær. lejlighed, 69 m2, Bymidten 56 56 2",11,"3500 3 vær. lejlighed, 69 m2, Bymi...",lejlighed,Bymidten 56 56 2,3500,3,69,1,33000,None,None,1/4-2024,"vaskemaskine, opvaskemaskine, parkeringsplads..."
1,"2860 3 vær. lejlighed, 72 m2, 10000 i depositum",10000,"2860 3 vær. lejlighed, 72 m2, 1000...",lejlighed,None,2860,3,72,None,10000,None,None,None,None
2,"1658 4 vær. lejlighed, 81 m2, Absalonsgade 46 ...",18000,"1658 4 vær. lejlighed, 81 m2, Absa...",lejlighed,Absalonsgade 46 3.tv,1658,4,81,1,18000,ja,1800,1.7.2024,"altan, møbleret, vaskemaskine, tørretumbler, ..."
3,"2300 1 vær. lejlighed, 18 m2, Prøvestens Allé ...",1800,"2300 1 vær. lejlighed, 18 m2, Prøv...",lejlighed,Prøvestens Allé 7 st.,2300,1,18,1800,3600,ja,None,Omgående,None
4,3 værelses lejlighed i København Ø 2100 på 112...,18950,"2100 vær. 3 Lejlighed, m2 112, Pak...",lejlighed,Pakhusvej,2100,3,112,0,56850,None,1600,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,Rækkehus i Solrød Strand 2680 på 87 kvm,10950,"2680 vær. 3 Lejlighed, m2 87, Åsve...",lejlighed,Åsvej,2680,3,87,10950,32850,None,1200,None,None
2196,Rækkehus i Solrød Strand 2680 på 87 kvm,10950,"2680 vær. 3 Lejlighed, m2 87, Åsve...",lejlighed,Åsvej,2680,3,87,10950,32850,None,1200,None,None
2197,4 vær. eller større i Søborg 2860 på 98 kvm,15100,"2860 vær. 4 Lejlighed, m2 98, Gyng...",lejlighed,Gyngemose Parkvej,2860,4,98,15100,45300,None,800,None,None
2198,2 værelses lejlighed i København S 2300 på 80 kvm,16900,"2300 vær. 2 Lejlighed, m2 80, Isla...",lejlighed,Islands Brygge,2300,2,80,16900,50700,None,1000,None,None
2199,3 værelses lejlighed i Valby 2500 på 91 kvm,17700,"2500 vær. 3 Lejlighed, m2 91, Skel...",lejlighed,Skelmosevej,2500,3,91,53100,53100,None,1000,None,None

In [36]:
# Lets convert data types

In [37]:
df['price']=pd.to_numeric(df['price'], downcast='integer')

In [38]:
df['Antal værelser']=pd.to_numeric(df['Antal værelser'], downcast='integer')

In [39]:
df['Boligkvm']=pd.to_numeric(df['Boligkvm'], downcast='integer')

In [40]:
df['Depositum']=pd.to_numeric(df['Depositum'], downcast='integer')

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             2200 non-null   object
 1   price             2200 non-null   int16
 2   description       2200 non-null   object
 3   Boligtype         2200 non-null   object
 4   Adress            2100 non-null   object
 5   Postnr            2200 non-null   object
 6   Antal værelser    2200 non-null   int8
 7   Boligkvm          2200 non-null   int16
 8   Forudbetalt leje  2100 non-null   object
 9   Depositum         2200 non-null   int32
 10  Fremleje          200 non-null    object
 11  A/C forbrug       1900 non-null   object
 12  Overtagelsesdato  300 non-null    object
 13  Fakta             200 non-null    object
dtypes: int16(2), int32(1), int8(1), object(10)
memory usage: 191.3+ KB